{% extends 'base.html'%}

{% block 'titulo'%}
Curso - {{course.name}}

{% endblock%}

{% block 'body' %}
<div class="container">
  <br>
  <h1>{{course.name}}</h1>
  <div class="row">
      

      {% for i in lessons %}

          <div style="margin-top: 20px;" class="col-md">
              <div class="card" style="width: 18rem;">
                <video  controls>
                  <source src="{{i.video.url}}" type="video/mp4">

                  Your browser does not support the video tag.
                </video>
                  <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.description}}</p>
                    <a href="/home/course/{{i.course.id}}/lesson/{{i.id}}" class="btn btn-primary">Acessar</a>
                  </div>
                </div>
          </div>
        
      {% endfor %}


  </div>

</div>
{% endblock %}